<!DOCTYPE html>
<html>
<head>
<title>Flex box Title</title>
<link rel="stylesheet" href="flex.css"/>
</head>
<body>
<div class="container">
        <div class="flex-item item-1">item1 flex</div>
        <div class="flex-item item-2">item2</div>
        <div class="flex-item item-3">item-3</div>
        <div class="flex-item item-4">item4</div>
        <div class="flex-item item-5">item5</div>
        <div class="flex-item item-2">item6</div>
        <div class="flex-item item-3">item7</div>
        
</div>
</body>
</html>